<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="org.zerock.mapper.TimeMapper">
	
	<select id="getTime2" resultType="string" >
		 select sysdate from dual
	</select>

	<select id="aaa" resultType="org.mit.quiz.StudentVO">
		select * from aaa.student where stu_no=#{stu_no}
	</select>
	
	<select id="bbb" resultType="org.mit.quiz.EMPVO">
		select * from scott.emp where empno=#{num}
	</select>
	
	<select id="list" resultType="org.mit.quiz.EMPVO">
		select * from scott.emp
	</select>
	
	<select id="aaalist" resultType="org.mit.quiz.StudentVO">
		select * from aaa.student
	</select>

</mapper>   